@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.logo {
    height: 100px;
}


h1{
   font-family:'Lobster', cursive;
}
  .hero {
   background-image: url(../img/clothes-1839935_1920.jpg);
    height: 90vh;
  }

  .pie {
    background-color: #50445a;
  }

  .container{
    background-color: gray ;
    font-family: 'Dancing Script',;
    margin: auto ;
  }
   
 