@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

nav img{
    width: 100px ;
    justify-self:center;
  }
  nav a{
    display: inline;
    font-family: 'DynaPuff', cursive;
    padding-right: 15px;
    color: #db1dcb;
   
  }
  h1 {
    font-family: 'DynaPuff', cursive;
    text-align:center;
    font-size: 40px;
    color: blueviolet;
  
    
    font-weight: 100; 
  }
  html , body{
    margin:0;
    padding:0;
    background-color:#4b4b4b;
  }
  body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.10em;
    line-height: 1.6;
  }
  
  
  
  
  .container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin:auto;
  
  }
  .pie p{
    display:inline;
    height: 60px;
  
  }
  .pie form{
    display: inline;
    padding-right: 10px;
  }