@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff&family=Lobster&display=swap');

h1{
    font-family: 'Lobster', cursive;
   background-color: aliceblue;
}

.nav{
height: 80px;
}

*{
margin: 0;
padding: 0;

}

.conteiner{
    background-image:url(../img/store-4027251_1920.jpg);
    height: 100vh;
    
}

